<p>Hello <%= @user.full_name %>,</p>

<p>Welcome to dBlog, a community of people devoted to creating incredible things:</p>
<p>Discover amazing ideas</p>
<p>Launch a project of your own</p>
<p>Learn more</p>
<p>For news from the creative FastFunding community, check out our blog.</p>

<p>Regards,</p>
<p>dBlog Team</p>
