
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

      <div class="text-center">
        <img src="https://cdn-images-1.medium.com/fit/c/120/120/1*_hz2whmm3GbJyn0fVJ2rbA.png"
        class="img-circle">
      </div>
      <div class="text-center"><h1>Daniel Duarte</h1></div>


    </div>
    <div class="col-md-4"></div>
  </div>
