<br>
<br>
<div class="text-center">
  <img src="https://cdn-images-1.medium.com/fit/c/120/120/1*_hz2whmm3GbJyn0fVJ2rbA.png"
        class="img-circle">
  </div>
  <h2 class="text-center">Daniel Duarte</h2>
